.idea
.vscode
.zed
.history
upload
*.exe
*.db
build
*.db-journal
logs
web/dist
.env
one-api
new-api
/__debug_bin*
.DS_Store
tiktoken_cache
.eslintcache
.gocache
.gomodcache/
.cache
web/bun.lock
plans
.claude

electron/node_modules
electron/dist
data/
.gomodcache/
.gocache-temp
.gopath
db-backup-before-online-import-20260408-201511.sql
db_new-api_20260408_013004_mysql_data.sql.gz
error-v1-messages-2026-03-10T200846-e4edf114.log
